body
{
    background-color: #e0e0e0;
}
.container
{
    padding: 20px;
}
#gobackbutton
{
    background-color: #ad0101;
    color: #ffffff;
    font-weight: bold;
}
#savechangesbutton
{
    background-color: #005bb1;
    color: #ffffff;
    font-weight: bold;
}
#acceptbuttonn
{
    background-color: #005bb1;
    color: #ffffff;
    font-weight: bold;
}